/* Color Variables */
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
} 

body,
h1,
h2,
p {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

/* Mobile Screen */
body {
  background-color: var(--very-light-gray);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9375rem;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

.card {
  max-width: 20.4375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
}

.card--sedans {
  background-color: var(--bright-orange);
}
.card--suvs {
  background-color: var(--dark-cyan);
}
.card--luxury {
  background-color: var(--very-dark-cyan);
}

.card:first-of-type {
  border-radius: 8px 8px 0 0;
}

.card:last-of-type {
  border-radius: 0 0 8px 8px;
}

.card__decImg {
  margin-bottom: 35px;
}

.card__title {
  color: var(--very-light-gray);
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.card__description {
  color: var(--transparent-white);
  line-height: 1.66;
  margin-bottom: 25px;
}

.card__link {
  background-color: var(--very-light-gray);
  border: 2px solid currentColor;
  border-radius: 25px;
  padding: 12px 32px;
  /* height: 48px; */
}

.card__link--sedans {
  color: var(--bright-orange);
}
.card__link--suvs {
  color: var(--dark-cyan);
}
.card__link--luxury {
  color: var(--very-dark-cyan);
}

/* Hover Effects */
.card__link:hover,
.card__link:focus {
background-color: transparent;
color: var(--very-light-gray);
cursor: pointer;
}


/* Desktop Screen */
 @media (min-width: 57.8125rem)  {  /* 925px */
  main {
    flex-direction: row;
    margin-top: 0;
  }

  .card {
    max-width: 19.1875rem;
  }

  .card:first-of-type {
    border-radius: 8px 0 0 8px;
  }
  .card:last-of-type {
    border-radius: 0 8px 8px 0;
  }

  .card__description {
    margin-bottom: 83px;
  }
}


/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}